.white-centered-title {
  padding-top: 100px;
  text-align: center;
  color: white;
}

.image-cocktail img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  color: white;
}

.flex-container {
  display: flex;
  margin-left: 24px;
  padding-top: 100px;
}

.left-block-container {
  margin-left: 50px;
  width: 350px;
}
.right-block-container {
  margin-left: 50px;
  width: 350px;
  color: white;
}

.right-block-container li{
  display: inline;
}

.form-new-cocktail {
  padding-top: 100px;
}
